@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background-color: #1c1c1c;
  color: #e0d7cb;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* NAVBAR CSS */
header {
  position: relative;
}
nav {
  background-color: #1c1c1c;
  z-index: 1;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}
nav a {
  text-decoration: none;
  color: #e0d7cb;
  cursor: pointer;
  transition: all 0.5s ease;
  height: 100%;
  padding: 1.3em 1em;
}
nav a:hover {
  color: orange;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
  text-underline-offset: 1em;
}
nav img {
  width: 55px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #141414dc;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem 0;
  font-size: 3rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
}
.sidebar:first-child {
  align-items: flex-end;
}
.ekis {
  display: flex;
}
.ri-close-line {
  font-size: 2.5rem;
  padding: 0;
  background: 0;
  transition: all 0.5s ease;
}
.ri-close-line:hover {
  opacity: 0.6;
  background-color: transparent;
}
.menu-button {
  display: none;
}
.sidebar li {
  padding: 1em 1.5em;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar a {
  font-size: 1.5rem;
  width: 100%;
}
.sidebar a:hover {
  color: orangered;
  text-decoration: none;
}

.sidebar li:hover {
  color: orangered;
  text-decoration: none;
  background-color: #1c1c1c;
}

/* HERO CSS */
.hero--section {
  min-height: 100vh;
  background-image: url(/qread/pictures/books1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.hero-content {
  max-width: 85%;
  padding: 1.5rem 3rem 2rem;
  border: 5px solid #e0d7cb;
  border-radius: 5%;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 2rem black;
}
.hero-content h1 {
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  text-shadow: 3px 4px black;
  margin-bottom: 0.5em;
}
.hero-content a {
  color: #141414;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3em 0.8em;
  border: 2px solid;
  border-radius: 20%;
  background: linear-gradient(to right, orange, orangered);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 1rem 0.3rem black;
}
.hero-content a:hover {
  opacity: 0.6;
}

/* ABOUT CSS */
.about--section {
  padding-block: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3em;
}
.about--wrapper,
.steps--wrapper {
  border: 2px solid rgba(255, 68, 0, 0.404);
  border-radius: 10%;
  max-width: 50%;
  padding: 2em 1em;
}
.about--section h2 {
  margin-bottom: 1em;
  font-size: 1.8rem;
}
.about--section span {
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.about--section p {
  padding-right: 1em;
  line-height: 1.5em;
}

/* FOOTER CSS */
footer {
  background-color: #141414;
  padding-block: 5em;
  text-align: center;
}
.footer--feedback {
  font-size: 1.2rem;
  color: #e0d7cb;
  text-decoration: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, orange, orangered) 1;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  display: inline-block;
  margin-bottom: 2em;
  background-color: #1c1c1c;
  padding: 0.3em 0.5em;
  border-radius: 10%;
}
.footer--feedback:hover {
  opacity: 0.6;
}
.contact--links {
  margin-bottom: 2em;
}
.contact--links a {
  margin-top: 3em;
  color: #e0d7cb;
  text-decoration: none;
  font-size: 1.6rem;
  background-color: #1c1c1c;
  padding: 0.3em 0.4em;
  border-radius: 100vh;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact--links a:hover {
  color: orange;
}
.contact--links a:active {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .menu-button {
    display: inline-block;
  }
  .hideonmobile {
    display: none;
  }
  .ri-menu-line {
    font-size: 2rem;
  }
  .about--wrapper,
  .steps--wrapper {
    max-width: 90%;
  }
}
@media (max-width: 850px) {
  html {
    font-size: 12px;
  }
}
