@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background-color: #1c1c1c;
  color: #e0d7cb;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* NAVBAR CSS */
header {
  position: relative;
}
nav {
  background-color: #1c1c1c;
  z-index: 1;
  padding: 0.5em 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
  font-size: 1rem;
  font-family: "Ubuntu", sans-serif;
}
nav a {
  text-decoration: none;
  color: #e0d7cb;
  cursor: pointer;
  transition: all 0.5s ease;
  height: 100%;
  padding: 1.3em 1em;
}
nav a:hover {
  color: orange;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: underline;
  text-underline-offset: 1em;
}
nav img {
  width: 55px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #141414dc;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem 0;
  font-size: 3rem;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
}
.sidebar:first-child {
  align-items: flex-end;
}
.ekis {
  display: flex;
}
.ri-close-line {
  font-size: 2.5rem;
  padding: 0;
  background: 0;
  transition: all 0.5s ease;
}
.ri-close-line:hover {
  opacity: 0.6;
  background-color: transparent;
}
.menu-button {
  display: none;
}
.sidebar li {
  padding: 1em 1.5em;
  width: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar a {
  font-size: 1.5rem;
  width: 100%;
}
.sidebar a:hover {
  color: orangered;
  text-decoration: none;
}

.sidebar li:hover {
  color: orangered;
  text-decoration: none;
  background-color: #1c1c1c;
}

/* HERO SECTION CSS */

.hero-section {
  min-height: 80vh;
  background-image: url(/qread/pictures/books.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.hero-content {
  max-width: 85%;
  padding: 1.5rem 3rem;
  border: 5px solid #e0d7cb;
  border-radius: 5%;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 3rem rgb(0, 0, 0, 0.6);
}
.hero-content h1 {
  color: aliceblue;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  text-shadow: 3px 4px black;
}
.hero-content h2 {
  color: #e0d7cb;
  font-size: 1.3rem;
  font-family: "Kanit", sans-serif;
  text-shadow: 3px 3px black;
  margin-bottom: 1.5rem;
}
.hero-content a {
  color: #141414;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3em 0.8em;
  border: 2px solid;
  border-radius: 20%;
  background: linear-gradient(to right, orange, orangered);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 1rem 0.3rem black;
}
.hero-content a:hover {
  opacity: 0.6;
}

/* ABOUT CSS */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  min-height: 100vh;
  position: relative;
}
#about h2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
}
#about hr {
  border: 1px solid;
  border-image: linear-gradient(to right, orange, orangered) 1;
  width: 10vw;
  margin-bottom: 3em;
}
#about span {
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container {
  border: 3px solid rgba(255, 68, 0, 0.411);
  border-radius: 5%;
  max-width: 60%;
  padding: 2em 1em;
  box-shadow: 0 0 1.5em black;
}
.container h3 {
  display: inline-block;
  font-size: 1.3rem;
  border-bottom: 2px solid orange;
  margin-bottom: 1em;
}
.about--content {
  padding-left: 2em;
  padding-right: 0.5em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.container a {
  color: #141414;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3em 1em;
  border: 2px solid;
  border-radius: 20%;
  background: linear-gradient(to right, orange, orangered);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container a:hover {
  opacity: 0.6;
}
#about p {
  margin-top: 3em;
  font-family: "Arial", sans-serif;
  text-align: center;
}
/* BOOKS SECTION CSS */
.books--section {
  background-color: #141414;
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.books--section h2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.books--section hr {
  border: 1px solid;
  border-image: linear-gradient(to right, orange, orangered) 1;
  width: 10vw;
  margin-bottom: 3em;
}
.books--wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 3em;
  min-height: 50vh;
}
.books--wrapper1 {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3em;
  gap: 3em;
}
.books {
  max-width: 15em;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  justify-self: center;
  row-gap: 1em;
}
.books--image {
  max-width: 10%;
  min-height: 10em;
}
.books img {
  max-width: 100%;
  height: 15em;
  border-radius: 5%;
}
.books a {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid;
  border-image: linear-gradient(
      150deg,
      rgba(255, 166, 0, 0.6),
      rgba(255, 68, 0, 0.6)
    )
    1;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border-radius: 10px;
  padding: 0.3em 0.8em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.books a:hover {
  opacity: 0.6;
}

/* PEOPLE SECTION CSS */
.people--section {
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.people--section h2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.people--section hr {
  border: 1px solid;
  border-image: linear-gradient(to right, orange, orangered) 1;
  width: 10vw;
  margin-bottom: 3em;
}
.people--wrapper {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2em;
}
.people--image {
  max-width: 60%;
}
.people--image img {
  max-width: 100%;
  border-radius: 5%;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.5);
}
.people--details h3 {
  margin-bottom: 1em;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, orange, orangered) 1;
  background-clip: padding-box, border-box;
  background-origin: border-box;
  display: inline-block;
}
.people--details p {
  margin-bottom: 1em;
  padding-left: 1em;
}
/** CONTACT SECTION **/
#contact--section {
  background-color: #141414;
  color: #d7cbbd;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact--section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  margin: auto;
  border: 0.2em solid rgba(255, 68, 0, 0.3);
  padding: 3em 5em;
  border-radius: 10%;
  box-shadow: 0 0 2em black;
  display: flex;
  flex-direction: column;
  position: relative;
}
.allh2 {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.allhr {
  border: 1px solid;
  border-image: linear-gradient(to right, orange, orangered) 1;
  width: 20%;
  margin-bottom: 3em;
}
form label {
  font-size: 1rem;
}
form input {
  font-size: 1rem;
  padding: 0.6em 0.8em;
  width: 100%;
  border: none;
  border-radius: 0.3em;
  background-color: aliceblue;
}
form textarea {
  margin-top: 1.5em;
  padding: 1em 1.5em;
  font-size: 1rem;
  border-radius: 2%;
  background-color: aliceblue;
}
#contact--section .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5em;
  margin-top: 1.8em;
}
form i {
  font-size: 2.5rem;
  font-weight: 400;
  background-color: rgb(56, 56, 56);
  border-radius: 50%;
  padding: 0.15em;
  position: absolute;
  bottom: 50px;
  right: -200px;
  cursor: pointer;
  transition: all 0.5s ease;
}
form a {
  color: aliceblue;
}
form a:hover {
  opacity: 0.8;
}
.submit {
  color: #141414;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.3em 1em;
  border: 2px solid;
  border-radius: 20%;
  background: linear-gradient(to right, orange, orangered);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit:hover {
  opacity: 0.6;
}
.check-me-out {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
  margin-top: 4em;
  margin-bottom: 2em;
}
.check-me-out h3 {
  font-size: 1.8rem;
}
.check-link {
  display: flex;
  column-gap: 1em;
}
.check-link a {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.8rem;
  background-color: rgb(58, 58, 58);
  padding: 0.1em 0.3em;
  border-radius: 100vh;
  cursor: pointer;
  transition: all 0.5s ease;
}
.check-link a:hover {
  color: #ce3631;
}
.check-me-out hr {
  color: #ce3631;
  width: 250px;
}
footer p {
  text-align: center;
  color: aliceblue;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .people--container {
    max-width: 90%;
  }
  .menu-button {
    display: inline-block;
  }
  .hideonmobile {
    display: none;
  }
  .ri-menu-line {
    font-size: 2rem;
  }
  #contact--section form {
    max-width: 70%;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 12px;
  }

  /* About Responsive */
  #about {
    padding-inline: 1em;
  }
  .container {
    max-width: 90%;
  }

  /* Books responsive */
  .books--wrapper,
  .books--wrapper1 {
    display: flex;
    flex-direction: column;
  }
  .books {
    max-width: 20em;
  }

  /* People Responsive */
  .people--wrapper {
    max-width: 80%;
  }
  #contact--section form {
    max-width: 70%;
  }
}
